/* ------------------------ For Mobile ------------------------ */
/* all */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5B6AC;
    font-family: 'Roboto Condensed', sans-serif;
}


/* navigation bar*/
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(253, 253, 253, 0.5);
    margin-bottom: 10px;
    word-break: break-word;
    font-weight: bold;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 100px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    margin-left: 25px;
}

a,
a:visited {
    color: #313131;
}

a {
    text-decoration: none;
}



/* contactform */
#contactform {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    height: auto;
}

.contact {
    color: #313131;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    min-height: 70vh;
}

.contactinformation {
    margin-bottom: 20px;
}

.content {
    height: 150px;
}

a.btn_03 {
    margin-top: 10px;
    width: fit-content;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #313131;
    color: #313131;
    border-radius: 100vh;
    margin-bottom: 20px;
}

a.btn_03:hover {
    color: #fff;
    background:  #d17d6b;
}

/* footer */
footer {
    font-weight: bold;
    text-align: center;
    background-color: rgb(253, 253, 253, 0.5);
    padding-left: 0
}

.footercontainer {
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    list-style: none;
    margin-top: 10px;
}

.footeritem {
    margin: 0 20px;
}

.footercontainer ul {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 0
}

.footercontainer li {
    padding: 10px;
}

.footercontainer a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding-left: 0
}


input,
textarea {
    padding: 4px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    width: 100%;
    display: block;
}

#contactform {
    max-width: 600px;
    display: grid;
}

/* tablet */
@media screen and (min-width:768px) {

    a.btn_03 {
        margin-top: 30px;
        width: fit-content;
        display: block;
        text-align: center;
        vertical-align: middle;
        padding: 1rem 4rem;
        font-weight: bold;
        border: 2px solid #313131;
        color: #313131;
        border-radius: 100vh;
    }

    a.btn_03:hover {
        color: #fff;
    }

}



/* ------------------------ For Desktop ------------------------ */
@media (min-width: 1200px) {

    * {
        margin: 0;
        padding: 0;
    }

    /* navigation bar */
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        word-break: break-word;
        font-weight: bold;
    }

    .logo {
        margin-right: auto;
    }

    .logo img {
        width: 100px;
    }

    .navigation ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .navigation li {
        margin-left: 10px;
        margin: 0 20px;
    }


    /* footer */
    .footercontainer {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 30px;
        list-style: none;
        margin-top: 10px;

    }

    .footer-li ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }

    .footer-li li {
        display: inline;
        margin: 50px;
    }

    .footer-li a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }

    #contactform {
        max-width: 600px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .a {
        grid-area: 1 / 1 / 2 / 2;
    }

    .b {
        grid-area: 1 / 2 / 2 / 3;
    }

    .c {
        grid-area: 2 / 1 / 3 / 3;
    }

    .d {
        grid-area: 3 / 1 / 4 / 3;
    }


}