/* ------------------------ For Mobile ------------------------ */
/* all */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #E5B6AC;
}


/* header */
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(253, 253, 253, 0.5);
    margin-bottom: 10px;
    word-break: break-word;
    font-weight: bold;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 100px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    margin-left: 25px;
}

a,
a:visited {
    color: #313131;
}

a {
    text-decoration: none;
}


/* footer */
footer {
    font-weight: bold;
    text-align: center;

    background-color: rgb(253, 253, 253, 0.5);
    padding-left: 0
}

.footercontainer {

    align-items: center;
    justify-content: center;
    padding-top: 50px;
    list-style: none;
    margin-top: 10px;
}

.footeritem {
    margin: 0 20px;
}

.footercontainer ul {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    padding-left: 0
}

.footercontainer li {
    /* margin: 10px; */
    padding: 10px;
}

.footercontainer a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding-left: 0
}


/* item corner */
.flexcontainer1 {
    display: flex;
    padding: 20px;
}


#flexcontainer2 {

    margin: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.flexcontainer3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}


.flexitem {
    margin: 5px;
    align-items: center;
    object-fit: cover;
}


.flexcontainer3 .flexitem {
    width: 200px;
    height: auto;
}


.flexitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    object-fit: cover;
}



.flexitem p {
    margin-top: 10px;
    text-align: center;
}


/* ------------------------ For Desktop ------------------------ */
@media (min-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
        /* font-family: 'Merriweather', serif; */
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: rgb(253, 253, 253, 0.5);
        margin-bottom: 10px;
        word-break: break-word;
    }

    .logo {
        margin-right: auto;
    }

    .logo img {
        width: 100px;
    }

    .navigation ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .navigation li {
        margin-left: 10px;
        margin: 0 20px;
    }


    .flexcontainer1 {
        display: flex;
        padding: 10px;
    }


    #flexcontainer2 {
        margin: 10px;
        margin-right: 30px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }


    .flexcontainer3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: 10px;
        padding: 10px;
    }


    .flexitem {
        margin: 5px;
        align-items: center;
        object-fit: cover;
    }


    .flexcontainer3 .flexitem {
        width: 200px;
        height: auto;
    }


    .flexitem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        object-fit: cover;
    }



    .flexitem p {
        margin-top: 10px;
        text-align: center;
    }

    /* footer */
    .footercontainer {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 30px;
        list-style: none;
        margin-top: 10px;

    }

    .footeritem {
        margin: 0 20px;
    }


}