body {
    background-color: #FFE4E1;
    color: #8B0000;
    font-family: 'Cherry Swash', cursive;
}

/* naivigation bar */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(253, 253, 253, 0.5);
    margin-bottom: 10px;
    word-break: break-word;
    font-family: 'Cherry Swash', cursive;
    font-weight: bold;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 100px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation li {
    margin-left: 10px;
    margin: 0 20px;
}


/* Cherry blossom photo header */
.header img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/*review comment*/
.review {
    color: #8B0000;
    font-family: 'Cherry Swash', cursive;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px 6%;
}

.grid-review {
    border: 1px solid #8B0000;
    background-color: #FFE4E1;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.review img {
    width: 30%;
    height: auto;
    border-radius: 50%;
}



/* mobile size */
@media screen and (max-width: 480px) {


    .review {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 30%;
        font-size: 20%;
    }

    .review img {
        width: 30%;
        height: auto;
        border-radius: 50%;
    }


}


/* tablet size */
@media screen and (max-width: 1024px) {
    .review {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }


    .nav-li ul {
        list-style: none;
        overflow: hidden;
    }

    .nav-li li {
        display: inline;
        margin: 20px;
    }

    .nav-li a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }

    .nav {
        justify-content: space-between;
    }


}


/* tablet horizontal size */
@media (orientation: landscape) {
    .review {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }



}