* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cherry Swash', cursive;
}

body {
    background-color: #E5B6AC;
}

/* ------------------------ For Mobile ------------------------ */
/* header */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(253, 253, 253, 0.5);
    margin-bottom: 10px;
    word-break: break-word;
    font-family: 'Cherry Swash', cursive;
    font-weight: bold;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 100px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    margin-left: 10px;
    margin: 0 20px;
}


/* --------------- first-view (MAIN) ---------------*/
.flexcontainer1 {
    padding: 10px;
}


#flexcontainer2 {
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    font-family: 'Cherry Swash', cursive;
}


.flexcontainer3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.flexcontainer3 img:hover {
    transform: scale(1.1);
    transition: 1s;
}


/* ------------- new-items / concept (MAIN) ---------------*/

.info {
    position: relative;
    height: 300px;
    background-color: #AD4F4D;
}

.info-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.info-box h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 20px auto;
}

.info-box h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin: 20px auto;
}

.info-box p {
    text-align: center;
    color: #FFFFFF;
    margin: 20px auto;
}

.button {
    background-color: #AD4F4D;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 50%;
    margin: 20px auto;
}

.button:hover {
    background-color: #FFFFFF;
    color: #AD4F4D;
}

.image {
    height: 300px;
    position: relative;
    caret-color: #E5B6AC;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --------------- FOOTER ----------------*/



.footercontainer {
    background-color: rgb(253, 253, 253, 0.5);
    font-family: 'Cherry Swash', cursive;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    list-style: none;
    margin-top: 10px;
    flex-wrap: wrap;
}

.footeritem {
    margin: 0 20px;
}





/* ---------------------------- For Tablet ---------------------------- */
@media (min-width: 600px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    #message {
        position: absolute;
        top: 30%;
        right: 5%;
        width: 20%;
        text-align: right;
        font-size: 36px;
        font-weight: 800;
        color: #FFFFFF;
    }

    #new-items {
        display: flex;
    }

    #concept {
        display: flex;
    }

    .info {
        position: relative;
        width: 50%;
        height: 450px;
        background-color: #AD4F4D;
    }

    .info-box {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .info-box h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 20px auto;
    }

    .info-box h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        color: #FFFFFF;
        margin: 20px auto;
    }

    .button {
        padding: 10px 15px;
        font-size: 16px;
        width: 40%;
        margin: 20px auto;
    }

    .image {
        width: 50%;
        height: 450px;
        position: relative;
        caret-color: #E5B6AC;
    }

    .image img {
        width: 50%;
        height: 70%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer-li ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }

    .footer-li li {
        display: inline;
        margin: 50px;
    }

    .footer-li a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }
}





/* ------------------------ For Desktop ------------------------ */
@media (min-width: 800px) {
    /* navigation bar */
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    
    .hero {
        height: 800px;
        width: 100%;
        object-fit: cover;
    }

    .Concept {
        margin: 50px;
    }

    #message {
        position: absolute;
        top: 30%;
        right: 5%;
        width: 25%;
        text-align: right;
        font-size: 48px;
        font-weight: 900;
        color: rgb(234, 120, 196);
    }

    .info {
        position: relative;
        width: 50%;
        height: 720px;
        background-color: #AD4F4D;
    }

    .info-box h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        color: #FFFFFF;
        margin: 20px auto;
    }

    .info-box h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 20px auto;
    }

    .button {
        padding: 15px 25px;
        font-size: 16px;
        width: 40%;
        margin: 20px auto;
    }

    .image {
        width: 50%;
        height: 720px;
        position: relative;
        caret-color: #E5B6AC;
    }

/* concept */
.blockcontainers {
    border-width: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: black;
}


.blockcontainers img {
    width: 500px;
    margin-right: 5vw;


}

.blockcontainers2 {
    border-width: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}


.blockcontainers2 img {
    width: 500px;
    margin-right: 5vw;



}

.soap img {
    margin-left: 5vw;
}

    /* footer */
    .footer-li ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }

    .footer-li li {
        display: inline;
        margin: 50px;
    }

    .footer-li a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }
}