/* ------------------------ For Mobile ------------------------ */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5B6AC;
    margin: 0;
}

/* header */
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(253, 253, 253, 0.5);
    word-break: break-word;
    font-weight: bold;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 100px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    margin-left: 25px;
}

a,
a:visited {
    color: #313131;
}

a {
    text-decoration: none;
}


/* top page */
main {
    margin: 0;
}

img {
    width: 100%;
    text-align: auto;
}



#message {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 25%;
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    color:  #FFFFFF;
}

.Concept {
    margin: 20px 20px 20px 20px;
}


/* contents */
main {
    margin: 0;
    padding: 0;
}

.containers1 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 70px;
}

.containers2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 70px;
    text-align: left;
}


.image {
    height: 300px;
    position: relative;
    caret-color: #E5B6AC;
}

/* footer */
footer {
    font-weight: bold;
    text-align: center;
    background-color: rgb(253, 253, 253, 0.5);
    margin-top: 0;
    margin: 0;
    padding: 0;
}

.footercontainer {
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    list-style: none;
    margin-top: 10px;
}

.footeritem {
    margin: 0 20px;
}

.footercontainer ul {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    padding-left: 0
}

.footercontainer li {
    padding: 10px;
}

.footercontainer a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding-left: 0
}






/* ------------------------ For Tablet ------------------------ */
@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    #message {
        position: absolute;
        top: 30%;
        right: 5%;
        width: 20%;
        text-align: right;
        font-size: 36px;
        font-weight: 800;

    }

    #concept {
        display: flex;
    }


    .image {
        width: 50%;
        height: 450px;
        position: relative;
        caret-color: #E5B6AC;
    }

    .image img {
        width: 50%;
        height: 70%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer-li ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }

    .footer-li li {
        display: inline;
        margin: 50px;
    }

    .footer-li a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }
}





/* ------------------------ For Desktop ------------------------ */
@media (min-width: 1200px) {

    /* navigation bar */
    * {
        margin: 0;
        padding: 0;
    
    }

    /* navigation bar */
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: rgb(253, 253, 253, 0.5);
        word-break: break-word;
        font-weight: bold;
    }

    .logo {
        margin-right: auto;
    }

    .logo img {
        width: 100px;
    }

    .navigation ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .navigation li {
        margin-left: 10px;
        margin: 0 20px;
    }






    .hero {
        height: 800px;
        width: 100%;
        object-fit: cover;
    }

    .Concept {
        margin: 50px;
    }

    #message {
        position: absolute;
        top: 30%;
        right: 5%;
        width: 25%;
        text-align: right;
        font-size: 48px;
        font-weight: 900;
        color: rgb(234, 120, 196);
    }



    /* concept */
    .blockcontainers {
        border-width: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        color: black;
        align-items: center;
    }


    .blockcontainers img {
        width: 500px;
    }

    .blockcontainers2 {
        border-width: 10px;
        padding: 10px;
        display: flex;
        margin-left: 20px;
    }


    .blockcontainers2 img {
        width: 500px;
    }

    .containers1 {
        text-align: left;
        margin-right: 30px;
    }

    .soap {
        margin-right: 20px;
        text-align: left;
    }



    /* footer */
    .footercontainer {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 30px;
        list-style: none;
        margin-top: 10px;
    }

    .footeritem {
        margin: 0 20px;
    }
}